name: Deploy to App Runner

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build, tag, push image
        run: |
          IMAGE_URI=916574583928.dkr.ecr.us-east-1.amazonaws.com/clic-api:latest
          docker build -t $IMAGE_URI .
          docker push $IMAGE_URI

      - name: Deploy to App Runner
        uses: awslabs/amazon-app-runner-deploy@v1
        with:
          service-name: clic-platform-api
          image-uri: 916574583928.dkr.ecr.us-east-1.amazonaws.com/clic-api:latest
          region: us-east-1
          access-role-arn: arn:aws:iam::916574583928:role/service-role/AppRunnerECRAccessRole
